<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name>Lobby Printer</name>
  <service><type>_ipp._tcp</type><port>631</port><txt-record>rp=ipp/print</txt-record></service>
</service-group>
